@font-face {
    font-family: "Parisienne";
    src: url(Parisienne/Parisienne-Regular.ttf);
}

@font-face {
    font-family: "Domine";
    src: url(Domine/Domine-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Domine';
}

.content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 0.5fr;
    background: url('bakery.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(20, 36, 37, 0.6);
    font-size: 1.25rem;
    color: rgb(244, 174, 25);
}

.header p:hover {
    cursor: pointer;
    color: white;
    transition: 100ms;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;
    top: -5vh;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: rgba(20, 36, 37, 0.8);
    position: relative;
}

.box p:first-of-type {
    position: absolute;
    top: 6%;
    font-size: 4.5rem;
    font-family: 'Parisienne';
    color:rgb(244, 174, 25);
}

.box p:nth-child(2) {
    position: absolute;
    top: 28%;
    font-family: 'Domine';
    font-size: 4.5rem;
    color: rgb(250, 206, 111);
    z-index: 990;
}

/* styling div */
.box div {
    position: absolute;
    top: 53%;
    width: 500px;
    border: 1px solid rgb(244, 174, 25);
    border-radius: 1px;
}

.box p:last-of-type {
    position: absolute;
    top: 60%;
    color: rgb(244, 174, 25);

}

.menu-button {
    position: absolute;
    top: 70%;
    min-width: 190px;
    width: 130px;
    padding: 8px;
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(244, 174, 25);
    border: none;
    color: rgb(0, 0, 0);
}

.menu-button:hover {
    cursor: pointer;
    color: white;
    transition: 100ms;
}

.footer {
    height: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background:rgba(20, 36, 37, 0.4);
    color:rgb(244, 174, 25);
}

.footer svg {
    display: flex;
    align-items: center;
    fill:rgb(244, 174, 25);
}

/* about page */
.about {
    min-height: 500px;
    height: calc(100vh - 10vh - 100px);
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(20, 36, 37, 0.7);
}

.about p:first-of-type {
    padding-top: 30px;
    font-size: 70px;
    font-family: "Parisienne";
    font-weight: bold;
    color:rgb(244, 174, 25);
}

.about p:last-of-type {
    padding: 30px;
    max-width: 700px;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5rem;
    color: white;
}

/* menu page */
.menu {
    min-height: 500px;
    height: calc(100vh - 10vh - 100px);
    width: 100%;
    background-color: rgba(20, 36, 37, 0.7);
}