@font-face {
    font-family: "Parisienne";
    src: url(Parisienne/Parisienne-Regular.ttf);
}

@font-face {
    font-family: "Domine";
    src: url(Domine/Domine-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Domine';
}

.content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 0.5fr;
    background: url('bakery.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.25rem;
    color: rgb(244, 174, 25);
}

.header p:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 120ms;
}

.main {
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: clamp(275px, 40vh, 325px);
    width: clamp(600px, 70vw, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: relative;
}

.box p:first-of-type {
    position: absolute;
    top: 8%;
    font-size: 4rem;
    font-family: 'Parisienne';
    color:rgb(244, 174, 25);
}

.box p:last-of-type {
    position: absolute;
    top: 30%;
    font-family: 'Domine';
    font-size: 5rem;
    color: rgb(255, 255, 255);
    z-index: 999;
}

.menu-button {
    position: absolute;
    top: 70%;
    min-width: 100px;
    width: 10vw;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(244, 174, 25);
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.menu-button:hover {
    cursor: pointer;
    color: white;
    transition: 120ms;
}

.footer {
    height: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background:rgba(0, 0, 0, 0.4);
    color:rgb(244, 174, 25);
}

.footer svg {
    display: flex;
    align-items: center;
    fill:rgb(244, 174, 25);
}