@font-face {
    font-family: 'Nunito Sans';
    src: url(Nunito_Sans/NunitoSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(Nunito_Sans/NunitoSans-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}

.content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 0.5fr;
    background: url('bakery.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 40vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.7);
}

.box p {
    font-size: 3rem;
    color: white;
}

.menu-button {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}