@font-face {
    font-family: 'Nunito Sans';
    src: url(Nunito_Sans/NunitoSans-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(Nunito_Sans/NunitoSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(Nunito_Sans/NunitoSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Courgette';
    src: url(Courgette/Courgette-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}

.content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 0.5fr;
    background: url('bakery.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(244, 174, 25);
}

.header p:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 120ms;
}

.main {
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: clamp(275px, 40vh, 325px);
    width: clamp(500px, 70vw, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.box p {
    font-family: 'Courgette';
    font-size: 5rem;
    color: rgb(255, 255, 255);
}

.menu-button {
    width: 10vw;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(244, 174, 25);
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.menu-button:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 120ms;
}

.footer {
    height: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background:rgba(0, 0, 0, 0.4);
    color:rgb(244, 174, 25);
}

.footer svg {
    display: flex;
    align-items: center;
    fill:rgb(244, 174, 25);
}